In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import re

%matplotlib inline

In [61]:
!head data/Master.csv

In [62]:
master_players = pd.read_csv('data/Master.csv')
master_players.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981,12,27,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,205,75,R,R,4/6/2004,9/28/2013,aardd001,aardsda01
1,aaronha01,1934,2,5,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180,72,R,R,4/13/1954,10/3/1976,aaroh101,aaronha01
2,aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,...,Aaron,Tommie Lee,190,75,R,R,4/10/1962,9/26/1971,aarot101,aaronto01
3,aasedo01,1954,9,8,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190,75,R,R,7/26/1977,10/3/1990,aased001,aasedo01
4,abadan01,1972,8,25,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184,73,L,L,9/10/2001,4/13/2006,abada001,abadan01

In [63]:
fielding_data = pd.read_csv('data/Fielding.csv')
fielding_data

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,TRO,NaN,SS,1,NaN,NaN,1,3,2,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,2B,22,NaN,NaN,67,72,42,5,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NaN,SS,3,NaN,NaN,8,14,7,0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NaN,2B,2,NaN,NaN,1,4,0,0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NaN,OF,29,NaN,NaN,51,3,7,1,NaN,NaN,NaN,NaN,NaN
5,allisdo01,1871,1,WS3,NaN,C,27,NaN,NaN,68,15,20,4,0,NaN,NaN,NaN,NaN
6,ansonca01,1871,1,RC1,NaN,1B,1,NaN,NaN,7,0,0,0,NaN,NaN,NaN,NaN,NaN
7,ansonca01,1871,1,RC1,NaN,2B,2,NaN,NaN,3,4,1,0,NaN,NaN,NaN,NaN,NaN
8,ansonca01,1871,1,RC1,NaN,3B,20,NaN,NaN,38,52,28,2,NaN,NaN,NaN,NaN,NaN
9,ansonca01,1871,1,RC1,NaN,C,5,NaN,NaN,10,0,8,0,0,NaN,NaN,NaN,NaN
10,ansonca01,1871,1,RC1,NaN,OF,1,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN
11,armstbo01,1871,1,FW1,NaN,OF,12,NaN,NaN,29,2,7,0,NaN,NaN,NaN,NaN,NaN
12,barkeal01,1871,1,RC1,NaN,OF,1,NaN,NaN,2,0,0,0,NaN,NaN,NaN,NaN,NaN
13,barnero01,1871,1,BS1,NaN,2B,16,NaN,NaN,42,61,15,10,NaN,NaN,NaN,NaN,NaN
14,barnero01,1871,1,BS1,NaN,SS,15,NaN,NaN,44,64,21,3,NaN,NaN,NaN,NaN,NaN
15,barrebi01,1871,1,FW1,NaN,3B,1,NaN,NaN,1,0,0,0,NaN,NaN,NaN,NaN,NaN
16,barrebi01,1871,1,FW1,NaN,C,1,NaN,NaN,8,0,0,0,0,NaN,NaN,NaN,NaN
17,barrofr01,1871,1,BS1,NaN,2B,1,NaN,NaN,2,0,1,0,NaN,NaN,NaN,NaN,NaN
18,barrofr01,1871,1,BS1,NaN,OF,17,NaN,NaN,28,1,6,0,NaN,NaN,NaN,NaN,NaN
19,bassjo01,1871,1,CL1,NaN,C,1,NaN,NaN,4,0,1,0,0,NaN,NaN,NaN,NaN
20,bassjo01,1871,1,CL1,NaN,SS,22,NaN,NaN,41,61,29,3,NaN,NaN,NaN,NaN,NaN
21,battijo01,1871,1,CL1,NaN,OF,1,NaN,NaN,1,0,0,0,NaN,NaN,NaN,NaN,NaN
22,bealsto01,1871,1,WS3,NaN,2B,2,NaN,NaN,9,7,0,1,NaN,NaN,NaN,NaN,NaN
23,bealsto01,1871,1,WS3,NaN,OF,8,NaN,NaN,20,1,6,0,NaN,NaN,NaN,NaN,NaN
24,beaveed01,1871,1,TRO,NaN,2B,3,NaN,NaN,8,10,4,2,NaN,NaN,NaN,NaN,NaN
25,bechtge01,1871,1,PH1,NaN,3B,3,NaN,NaN,3,3,2,0,NaN,NaN,NaN,NaN,NaN
26,bechtge01,1871,1,PH1,NaN,OF,15,NaN,NaN,21,2,5,1,NaN,NaN,NaN,NaN,NaN
27,bechtge01,1871,1,PH1,NaN,P,3,NaN,NaN,1,7,0,0,NaN,NaN,NaN,NaN,NaN
28,bellast01,1871,1,TRO,NaN,3B,28,NaN,NaN,48,49,39,4,NaN,NaN,NaN,NaN,NaN
29,bellast01,1871,1,TRO,NaN,SS,1,NaN,NaN,1,4,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167908,ynoara01,2014,1,COL,NL,SS,2,NaN,51,2,11,0,3,NaN,NaN,NaN,NaN,NaN
167909,youngch03,2014,1,SEA,AL,P,30,NaN,495,7,10,1,0,NaN,NaN,NaN,NaN,NaN
167910,youngch04,2014,1,NYN,NL,CF,27,NaN,NaN,52,0,0,0,NaN,NaN,NaN,NaN,NaN
167911,youngch04,2014,1,NYN,NL,LF,55,NaN,NaN,75,5,0,3,NaN,NaN,NaN,NaN,NaN
167912,youngch04,2014,2,NYA,AL,LF,18,NaN,NaN,33,1,1,0,NaN,NaN,NaN,NaN,NaN
167913,youngch04,2014,1,NYN,NL,OF,78,NaN,1740,133,5,1,3,NaN,NaN,NaN,NaN,NaN
167914,youngch04,2014,2,NYA,AL,OF,19,NaN,480,35,1,1,0,NaN,NaN,NaN,NaN,NaN
167915,youngch04,2014,1,NYN,NL,RF,6,NaN,NaN,6,0,1,0,NaN,NaN,NaN,NaN,NaN
167916,youngch04,2014,2,NYA,AL,RF,1,NaN,NaN,2,0,0,0,NaN,NaN,NaN,NaN,NaN
167917,youngde03,2014,1,BAL,AL,LF,27,NaN,NaN,29,3,0,0,NaN,NaN,NaN,NaN,NaN
167918,youngde03,2014,1,BAL,AL,OF,28,NaN,477,32,4,0,1,NaN,NaN,NaN,NaN,NaN
167919,youngde03,2014,1,BAL,AL,RF,2,NaN,NaN,3,1,0,1,NaN,NaN,NaN,NaN,NaN
167920,younger03,2014,1,NYN,NL,2B,2,NaN,27,3,2,0,0,NaN,NaN,NaN,NaN,NaN
167921,younger03,2014,1,NYN,NL,CF,1,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN
167922,younger03,2014,1,NYN,NL,LF,73,NaN,NaN,128,6,1,1,NaN,NaN,NaN,NaN,NaN
167923,younger03,2014,1,NYN,NL,OF,73,NaN,1740,128,6,1,1,NaN,NaN,NaN,NaN,NaN
167924,zeidjo01,2014,1,HOU,AL,P,23,NaN,63,1,7,0,1,NaN,NaN,NaN,NaN,NaN
167925,zieglbr01,2014,1,ARI,NL,P,68,NaN,201,6,16,2,2,NaN,NaN,NaN,NaN,NaN
167926,zimmejo02,2014,1,WAS,NL,P,32,NaN,600,13,19,1,0,NaN,NaN,NaN,NaN,NaN
167927,zimmery01,2014,1,WAS,NL,1B,5,NaN,54,23,0,1,2,NaN,NaN,NaN,NaN,NaN
167928,zimmery01,2014,1,WAS,NL,3B,23,NaN,552,18,37,3,4,NaN,NaN,NaN,NaN,NaN
167929,zimmery01,2014,1,WAS,NL,LF,30,NaN,NaN,48,2,0,0,NaN,NaN,NaN,NaN,NaN
167930,zimmery01,2014,1,WAS,NL,OF,30,NaN,798,48,2,0,0,NaN,NaN,NaN,NaN,NaN
167931,zobribe01,2014,1,TBA,AL,2B,79,NaN,1875,105,185,6,32,NaN,NaN,NaN,NaN,NaN
167932,zobribe01,2014,1,TBA,AL,CF,7,NaN,NaN,12,0,0,0,NaN,NaN,NaN,NaN,NaN
167933,zobribe01,2014,1,TBA,AL,LF,38,NaN,NaN,51,1,0,0,NaN,NaN,NaN,NaN,NaN
167934,zobribe01,2014,1,TBA,AL,OF,54,NaN,1074,101,2,0,0,NaN,NaN,NaN,NaN,NaN
167935,zobribe01,2014,1,TBA,AL,RF,19,NaN,NaN,38,1,0,0,NaN,NaN,NaN,NaN,NaN
167936,zobribe01,2014,1,TBA,AL,SS,31,NaN,708,16,57,2,12,NaN,NaN,NaN,NaN,NaN
167937,zuninmi01,2014,1,SEA,AL,C,130,NaN,3363,1010,84,5,5,8,NaN,71,28,NaN

In [64]:
batting_data = pd.read_csv('data/Batting.csv')
batting_data

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13,8,1,4,0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19,3,1,2,5,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27,1,1,0,2,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16,6,2,2,1,NaN,NaN,NaN,NaN,NaN
5,armstbo01,1871,1,FW1,NaN,12,49,9,11,2,...,5,0,1,0,1,NaN,NaN,NaN,NaN,NaN
6,barkeal01,1871,1,RC1,NaN,1,4,0,1,0,...,2,0,0,1,0,NaN,NaN,NaN,NaN,NaN
7,barnero01,1871,1,BS1,NaN,31,157,66,63,10,...,34,11,6,13,1,NaN,NaN,NaN,NaN,NaN
8,barrebi01,1871,1,FW1,NaN,1,5,1,1,1,...,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
9,barrofr01,1871,1,BS1,NaN,18,86,13,13,2,...,11,1,0,0,0,NaN,NaN,NaN,NaN,NaN
10,bassjo01,1871,1,CL1,NaN,22,89,18,27,1,...,18,0,1,3,4,NaN,NaN,NaN,NaN,NaN
11,battijo01,1871,1,CL1,NaN,1,3,0,0,0,...,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN
12,bealsto01,1871,1,WS3,NaN,10,36,6,7,0,...,1,2,0,2,0,NaN,NaN,NaN,NaN,NaN
13,beaveed01,1871,1,TRO,NaN,3,15,7,6,0,...,5,2,0,0,0,NaN,NaN,NaN,NaN,NaN
14,bechtge01,1871,1,PH1,NaN,20,94,24,33,9,...,21,4,0,2,2,NaN,NaN,NaN,NaN,NaN
15,bellast01,1871,1,TRO,NaN,29,128,26,32,3,...,23,4,4,9,2,NaN,NaN,NaN,NaN,NaN
16,berkena01,1871,1,PH1,NaN,1,4,0,0,0,...,0,0,0,0,3,NaN,NaN,NaN,NaN,NaN
17,berryto01,1871,1,PH1,NaN,1,4,0,1,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
18,berthha01,1871,1,WS3,NaN,17,73,17,17,1,...,8,3,1,4,2,NaN,NaN,NaN,NaN,NaN
19,biermch01,1871,1,FW1,NaN,1,2,0,0,0,...,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN
20,birdge01,1871,1,RC1,NaN,25,106,19,28,2,...,13,1,0,3,2,NaN,NaN,NaN,NaN,NaN
21,birdsda01,1871,1,BS1,NaN,29,152,51,46,3,...,24,6,0,4,4,NaN,NaN,NaN,NaN,NaN
22,brainas01,1871,1,WS3,NaN,30,134,24,30,4,...,21,4,0,7,2,NaN,NaN,NaN,NaN,NaN
23,brannmi01,1871,1,CH1,NaN,3,14,2,1,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24,burrohe01,1871,1,WS3,NaN,12,63,11,15,2,...,14,0,0,1,1,NaN,NaN,NaN,NaN,NaN
25,careyto01,1871,1,FW1,NaN,19,87,16,20,2,...,10,5,0,2,1,NaN,NaN,NaN,NaN,NaN
26,carleji01,1871,1,CL1,NaN,29,127,31,32,8,...,18,2,1,8,3,NaN,NaN,NaN,NaN,NaN
27,conefr01,1871,1,BS1,NaN,19,77,17,20,3,...,16,12,1,8,2,NaN,NaN,NaN,NaN,NaN
28,connone01,1871,1,TRO,NaN,7,33,6,7,0,...,2,0,0,0,0,NaN,NaN,NaN,NaN,NaN
29,cravebi01,1871,1,TRO,NaN,27,118,26,38,8,...,26,6,3,3,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99816,wilsojo03,2014,1,TEX,AL,24,67,7,16,4,...,8,1,0,2,14,0,1,2,0,3
99817,wilsoju10,2014,1,PIT,NL,70,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
99818,withrch01,2014,1,LAN,NL,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99819,wolfra02,2014,1,MIA,NL,6,7,0,1,0,...,0,0,0,0,1,0,0,0,0,0
99820,wongko01,2014,1,SLN,NL,113,402,52,100,14,...,42,20,4,21,71,3,4,5,1,12
99821,woodal02,2014,1,ATL,NL,35,41,1,3,0,...,2,0,0,2,28,0,0,5,0,0
99822,woodbl01,2014,1,CLE,AL,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99823,woodtr01,2014,1,CHN,NL,41,56,9,13,2,...,10,0,0,1,17,0,2,7,0,1
99824,wootero01,2014,1,MIL,NL,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99825,workmbr01,2014,1,BOS,AL,19,3,0,0,0,...,0,0,0,0,3,0,0,1,0,0
99826,worleva01,2014,1,PIT,NL,20,32,1,2,1,...,0,0,0,1,17,0,0,5,0,0
99827,worthda01,2014,1,DET,AL,20,42,5,7,1,...,5,0,1,2,12,0,1,0,1,1
99828,wrighda03,2014,1,NYN,NL,134,535,54,144,30,...,63,8,5,42,113,5,4,0,5,22
99829,wrighja01,2014,1,LAN,NL,61,5,0,0,0,...,0,0,0,0,3,0,0,1,0,0
99830,wrighst01,2014,1,BOS,AL,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99831,wrighwe01,2014,1,CHN,NL,58,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99832,yateski01,2014,1,TBA,AL,37,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99833,yelicch01,2014,1,MIA,NL,144,582,94,165,30,...,54,21,7,70,137,3,3,3,2,9
99834,ynoara01,2014,1,COL,NL,19,67,5,23,6,...,13,0,0,4,9,0,0,0,0,1
99835,youngch03,2014,1,SEA,AL,30,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99836,youngch04,2014,1,NYN,NL,88,254,31,52,12,...,28,7,3,25,54,2,4,1,3,3
99837,youngch04,2014,2,NYA,AL,23,71,9,20,8,...,10,1,0,7,16,0,1,0,0,0
99838,youngde03,2014,1,BAL,AL,83,242,27,73,11,...,30,2,0,10,51,0,3,0,0,6
99839,younger03,2014,1,NYN,NL,100,280,48,64,10,...,17,30,6,24,60,1,5,5,2,2
99840,zeidjo01,2014,1,HOU,AL,23,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
99841,zieglbr01,2014,1,ARI,NL,68,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
99842,zimmejo02,2014,1,WAS,NL,32,55,3,10,1,...,1,0,0,2,21,0,0,9,1,0
99843,zimmery01,2014,1,WAS,NL,61,214,26,60,19,...,38,0,0,22,37,0,0,0,4,6
99844,zobribe01,2014,1,TBA,AL,146,570,83,155,34,...,52,10,5,75,84,4,1,2,6,8
99845,zuninmi01,2014,1,SEA,AL,131,438,51,87,20,...,60,0,3,17,158,1,17,0,4,12

In [65]:
salary_data = pd.read_csv('data/Salaries.csv')
salary_data

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
5        1985    ATL   NL  chambch01    800000
6        1985    ATL   NL  dedmoje01    150000
7        1985    ATL   NL  forstte01    483333
8        1985    ATL   NL  garbege01    772000
9        1985    ATL   NL  harpete01    250000
10       1985    ATL   NL  hornebo01   1500000
11       1985    ATL   NL  hubbagl01    455000
12       1985    ATL   NL  mahleri01    407500
13       1985    ATL   NL  mcmurcr01    275000
14       1985    ATL   NL  mumphje01    775000
15       1985    ATL   NL  murphda05   1625000
16       1985    ATL   NL  oberkke01    616667
17       1985    ATL   NL  perezpa01    450000
18       1985    ATL   NL  perryge01    120000
19       1985    ATL   NL  ramirra01    750000
20       1985    ATL   NL  suttebr01   1354167
21       1985    ATL   NL  washicl01    800000
22       1985    BAL   AL  boddimi01    625000
23       1985    BAL   AL  dauerri01    480000
24       1985    BAL   AL  davisst02    437500
25       1985    BAL   AL  dempsri01    512500
26       1985    BAL   AL  dwyerji01    375000
27       1985    BAL   AL  flanami01    641667
28       1985    BAL   AL   fordda01    450000
29       1985    BAL   AL  grosswa01    483333
...       ...    ...  ...        ...       ...
24728    2014    WAS   NL  blevije01   1675000
24729    2014    WAS   NL  cedenxa01    507800
24730    2014    WAS   NL  clippty01   5875000
24731    2014    WAS   NL  desmoia01   6500000
24732    2014    WAS   NL  detwiro01   3000000
24733    2014    WAS   NL  espinda01    540580
24734    2014    WAS   NL  fistedo01   7200000
24735    2014    WAS   NL  frandke01    900000
24736    2014    WAS   NL  gonzagi01   8500000
24737    2014    WAS   NL  hairssc01   2500000
24738    2014    WAS   NL  harpebr03   2150000
24739    2014    WAS   NL  jordata01    504300
24740    2014    WAS   NL  koberje01    501000
24741    2014    WAS   NL  larocad01  12000000
24742    2014    WAS   NL   leonsa01    501000
24743    2014    WAS   NL  lobatjo01    900000
24744    2014    WAS   NL  matthry01    520000
24745    2014    WAS   NL  mclouna01   5000000
24746    2014    WAS   NL  moorety01    507900
24747    2014    WAS   NL  ramoswi01   2095000
24748    2014    WAS   NL  rendoan01   1800000
24749    2014    WAS   NL  roarkta01    506100
24750    2014    WAS   NL  soriara01  11000000
24751    2014    WAS   NL   spande01   6500000
24752    2014    WAS   NL  stammcr01   1375000
24753    2014    WAS   NL  storedr01   3450000
24754    2014    WAS   NL  strasst01   3975000
24755    2014    WAS   NL  werthja01  20000000
24756    2014    WAS   NL  zimmejo02   7500000
24757    2014    WAS   NL  zimmery01  14000000

[24758 rows x 5 columns]

In [66]:
new_data = pd.merge(batting_data, master_players)
all_data = pd.merge(new_data, salary_data)
all_data

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,salary
0,johnto01,1985,2,OAK,AL,11,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,600000
1,johnto01,1986,1,NYA,AL,13,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,60000
2,johnto01,1987,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,350000
3,johnto01,1988,1,NYA,AL,35,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,375000
4,rosepe01,1985,1,CIN,NL,119,405,60,107,12,...,Peter Edward,192,71,B,R,4/8/1963,8/17/1986,rosep001,rosepe01,358858
5,rosepe01,1986,1,CIN,NL,72,237,15,52,8,...,Peter Edward,192,71,B,R,4/8/1963,8/17/1986,rosep001,rosepe01,1000000
6,staubru01,1985,1,NYN,NL,54,45,2,12,3,...,Daniel Joseph,190,74,L,R,4/9/1963,10/6/1985,staur001,staubru01,300000
7,niekrph01,1985,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,Philip Henry,180,73,R,R,4/15/1964,9/27/1987,niekp001,niekrph01,600000
8,niekrph01,1986,1,CLE,AL,34,NaN,NaN,NaN,NaN,...,Philip Henry,180,73,R,R,4/15/1964,9/27/1987,niekp001,niekrph01,300000
9,perezto01,1985,1,CIN,NL,72,183,25,60,8,...,Atanasio,175,74,R,R,7/26/1964,10/5/1986,peret001,perezto01,225000
10,perezto01,1986,1,CIN,NL,77,200,14,51,12,...,Atanasio,175,74,R,R,7/26/1964,10/5/1986,peret001,perezto01,275000
11,carltst01,1985,1,PHI,NL,16,28,2,5,1,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,1075000
12,carltst01,1986,1,PHI,NL,16,34,3,7,1,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,1000000
13,carltst01,1986,3,CHA,AL,10,NaN,NaN,NaN,NaN,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,60000
14,carltst01,1988,1,MIN,AL,4,NaN,NaN,NaN,NaN,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,115000
15,johnsja01,1985,1,LAN,NL,17,15,0,2,1,...,John William,175,73,L,R,7/30/1966,10/6/1985,johnj002,johnsja01,150000
16,ryanno01,1985,1,HOU,NL,35,63,2,7,2,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1350000
17,ryanno01,1986,1,HOU,NL,30,59,1,6,0,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1125000
18,ryanno01,1987,1,HOU,NL,34,65,2,4,0,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1225000
19,ryanno01,1988,1,HOU,NL,33,70,1,4,0,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1000000
20,ryanno01,1989,1,TEX,AL,32,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1800000
21,ryanno01,1990,1,TEX,AL,30,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1400000
22,ryanno01,1991,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,3300000
23,ryanno01,1992,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,4200000
24,ryanno01,1993,1,TEX,AL,13,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,3757000
25,suttodo01,1985,2,CAL,AL,5,NaN,NaN,NaN,NaN,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,750000
26,suttodo01,1986,1,CAL,AL,34,NaN,NaN,NaN,NaN,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,890000
27,suttodo01,1987,1,CAL,AL,35,NaN,NaN,NaN,NaN,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,890000
28,suttodo01,1988,1,LAN,NL,16,23,1,2,0,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,350000
29,carewro01,1985,1,CAL,AL,127,443,69,124,17,...,Rodney Cline,170,72,L,R,4/11/1967,10/5/1985,carer001,carewro01,875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23735,ruppca01,2014,1,PHI,NL,18,60,4,11,4,...,Cameron Arthur,250,74,R,R,9/10/2013,9/16/2014,ruppc001,ruppca01,500000
23736,ryuhy01,2013,1,LAN,NL,30,58,5,12,3,...,Hyun-jin,255,74,R,L,4/2/2013,9/12/2014,ryu-h001,ryuhy01,3333333
23737,ryuhy01,2014,1,LAN,NL,26,47,4,7,2,...,Hyun-jin,255,74,R,L,4/2/2013,9/12/2014,ryu-h001,ryuhy01,4333000
23738,salazda01,2014,1,CLE,AL,20,3,0,0,0,...,Daniel Dariel,190,72,L,R,7/11/2013,9/23/2014,salad001,salazda01,501500
23739,sanchto01,2014,1,PIT,NL,26,75,3,20,1,...,Jorge Anthony,225,71,R,R,6/23/2013,9/28/2014,sanct001,sanchto01,507000
23740,schoojo01,2014,1,BAL,AL,137,455,48,95,18,...,Jonathan Rufino Jezus,210,74,R,R,9/25/2013,9/28/2014,schoj001,schoojo01,500500
23741,semiema01,2013,1,CHA,AL,21,69,7,18,4,...,Marcus Andrew,195,73,R,R,9/4/2013,9/28/2014,semim001,semiema01,493000
23742,semiema01,2014,1,CHA,AL,64,231,30,54,10,...,Marcus Andrew,195,73,R,R,9/4/2013,9/28/2014,semim001,semiema01,500000
23743,shoemma01,2014,1,LAA,AL,27,1,0,0,0,...,Matthew David,225,74,R,R,9/20/2013,9/15/2014,shoem001,shoemma01,500500
23744,siegrke01,2014,1,SLN,NL,37,0,0,0,0,...,Kevin Ryan,215,77,L,L,6/6/2013,9/28/2014,siegk001,siegrke01,505000
23745,skipwky01,2013,1,MIA,NL,4,3,0,0,0,...,Kyle Trent,230,76,L,R,4/10/2013,5/11/2013,skipk001,skipwky01,490000
23746,sotone01,2014,1,CIN,NL,21,30,1,3,1,...,Neftali O.,215,73,R,R,5/18/2013,7/19/2014,soton001,sotone01,500000
23747,thielca01,2014,1,MIN,AL,54,0,0,0,0,...,Caleb John,195,72,R,L,5/20/2013,9/20/2014,thiec001,thielca01,510000
23748,ventuyo01,2014,1,KCA,AL,31,4,1,1,0,...,Yordano,180,72,R,R,9/17/2013,9/28/2014,venty001,ventuyo01,500500
23749,villajo01,2014,1,HOU,AL,87,263,31,55,13,...,Jonathan Rafael,205,73,B,R,7/22/2013,9/28/2014,villj001,villajo01,503800
23750,wachami01,2014,1,SLN,NL,19,29,1,1,0,...,Michael Joseph,210,78,R,R,5/30/2013,9/26/2014,wachm001,wachami01,510000
23751,webbda01,2014,1,CHA,AL,57,0,0,0,0,...,Robert McDaniel,215,75,R,R,9/4/2013,9/28/2014,webbd001,webbda01,500000
23752,withrch01,2014,1,LAN,NL,20,0,0,0,0,...,Christopher Michael,215,76,R,R,6/12/2013,5/20/2014,withc001,withrch01,506600
23753,wongko01,2014,1,SLN,NL,113,402,52,100,14,...,Kolten Kaha,185,69,L,R,8/16/2013,9/28/2014,wongk001,wongko01,500000
23754,woodal02,2014,1,ATL,NL,35,41,1,3,0,...,Robert Alexander,215,76,R,L,5/30/2013,9/23/2014,wooda002,woodal02,506250
23755,wootero01,2014,1,MIL,NL,40,0,0,0,0,...,Robert Davis,195,73,R,R,7/26/2013,9/14/2014,wootr001,wootero01,501000
23756,workmbr01,2014,1,BOS,AL,19,3,0,0,0,...,Brandon Carlin,225,77,R,R,7/10/2013,9/18/2014,workb001,workmbr01,518000
23757,wrighst01,2014,1,BOS,AL,6,0,0,0,0,...,Steven Richard,220,73,R,R,4/23/2013,9/26/2014,wrigs001,wrighst01,502000
23758,yelicch01,2014,1,MIA,NL,144,582,94,165,30,...,Christian Stephen,200,75,L,R,7/23/2013,9/28/2014,yelic001,yelicch01,505000
23759,zuninmi01,2014,1,SEA,AL,131,438,51,87,20,...,Michael Accorsi,220,74,R,R,6/12/2013,9/28/2014,zunim001,zuninmi01,504100
23760,abreujo02,2014,1,CHA,AL,145,556,80,176,35,...,Jose Dariel,255,75,R,R,3/31/2014,9/27/2014,abrej003,abreujo02,7000000
23761,gonzami05,2014,1,PHI,NL,6,0,0,0,0,...,Miguel Alfredo,200,75,R,R,9/3/2014,9/27/2014,gonzm006,gonzami05,3666667
23762,guerral01,2014,1,LAN,NL,11,13,0,1,0,...,Alexander,205,70,R,R,3/22/2014,9/28/2014,guera001,guerral01,4000000
23763,singljo02,2014,1,HOU,AL,95,310,42,52,13,...,Jonathan Lee,255,74,L,L,6/3/2014,9/28/2014,singj001,singljo02,1500000
23764,tanakma01,2014,1,NYA,AL,20,9,0,1,0,...,Masahiro,205,74,R,R,4/4/2014,9/27/2014,tanam001,tanakma01,22000000

In [67]:
del all_data['weight']
del all_data['height']
del all_data['bats']
del all_data['throws']

In [68]:
#all_data = pd.merge(all_data, fielding_data)

In [69]:
del all_data['G']

In [71]:
all_data.head()
del all_data['deathCity']
del all_data['3B']
del all_data['R']

In [72]:
all_data.head()
del all_data['RBI']
del all_data['deathState']
del all_data['HR']

In [73]:
all_data.head()
del all_data['deathCountry']
del all_data['CS']
del all_data['SB']

In [74]:
all_data.head()
del all_data['deathDay']
del all_data['SO']
del all_data['2B']

In [75]:
all_data.head()
del all_data['deathYear']
del all_data['IBB']

In [76]:
all_data.head()
del all_data['birthCity']
del all_data['SH']
del all_data['birthState']

In [77]:
all_data.head()
del all_data['deathMonth']
del all_data['teamID']

In [78]:
all_data.head()
del all_data['GIDP']
del all_data['birthCountry']

In [79]:
all_data.head()
del all_data['birthYear']
del all_data['birthDay']

In [80]:
all_data.head()
del all_data['birthMonth']
del all_data['retroID']
del all_data['bbrefID']

In [82]:
all_data.dropna()

,playerID,yearID,stint,lgID,AB,H,BB,HBP,SF,nameFirst,nameLast,nameGiven,debut,finalGame,salary
4,rosepe01,1985,1,NL,405,107,86,4,4,Pete,Rose,Peter Edward,4/8/1963,8/17/1986,358858
5,rosepe01,1986,1,NL,237,52,30,4,1,Pete,Rose,Peter Edward,4/8/1963,8/17/1986,1000000
6,staubru01,1985,1,NL,45,12,10,0,0,Rusty,Staub,Daniel Joseph,4/9/1963,10/6/1985,300000
9,perezto01,1985,1,NL,183,60,22,0,2,Tony,Perez,Atanasio,7/26/1964,10/5/1986,225000
10,perezto01,1986,1,NL,200,51,25,0,3,Tony,Perez,Atanasio,7/26/1964,10/5/1986,275000
11,carltst01,1985,1,NL,28,5,1,0,1,Steve,Carlton,Steven Norman,4/12/1965,4/23/1988,1075000
12,carltst01,1986,1,NL,34,7,1,0,0,Steve,Carlton,Steven Norman,4/12/1965,4/23/1988,1000000
15,johnsja01,1985,1,NL,15,2,1,0,0,Jay,Johnstone,John William,7/30/1966,10/6/1985,150000
16,ryanno01,1985,1,NL,63,7,4,0,1,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,1350000
17,ryanno01,1986,1,NL,59,6,1,0,0,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,1125000
18,ryanno01,1987,1,NL,65,4,1,0,0,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,1225000
19,ryanno01,1988,1,NL,70,4,4,0,0,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,1000000
28,suttodo01,1988,1,NL,23,2,1,0,0,Don,Sutton,Donald Howard,4/14/1966,8/9/1988,350000
29,carewro01,1985,1,AL,443,124,64,1,1,Rod,Carew,Rodney Cline,4/11/1967,10/5/1985,875000
30,jacksre01,1985,1,AL,460,116,78,1,2,Reggie,Jackson,Reginald Martinez,6/9/1967,10/4/1987,1058894
31,jacksre01,1986,1,AL,419,101,92,3,3,Reggie,Jackson,Reginald Martinez,6/9/1967,10/4/1987,1102946
32,koosmje01,1985,1,NL,34,3,1,0,1,Jerry,Koosman,Jerome Martin,4/14/1967,8/21/1985,600000
33,nettlgr01,1985,1,NL,440,115,72,0,3,Graig,Nettles,Graig,9/6/1967,10/1/1988,900000
34,nettlgr01,1986,1,NL,354,77,41,2,3,Graig,Nettles,Graig,9/6/1967,10/1/1988,912247
35,nettlgr01,1987,1,NL,177,37,22,0,2,Graig,Nettles,Graig,9/6/1967,10/1/1988,219500
36,nettlgr01,1988,1,NL,93,16,9,0,2,Graig,Nettles,Graig,9/6/1967,10/1/1988,200000
37,niekrjo01,1985,1,NL,68,17,1,0,1,Joe,Niekro,Joseph Franklin,4/16/1967,4/29/1988,825000
40,seaveto01,1985,1,AL,0,0,0,0,0,Tom,Seaver,George Thomas,4/13/1967,9/19/1986,1136262
42,bakerdu01,1985,1,AL,343,92,50,0,3,Dusty,Baker,Johnnie B.,9/7/1968,10/4/1986,575000
43,bakerdu01,1986,1,AL,242,58,27,0,2,Dusty,Baker,Johnnie B.,9/7/1968,10/4/1986,475000
45,hebneri01,1985,1,NL,120,26,7,1,0,Richie,Hebner,Richard Joseph,9/23/1968,10/3/1985,310000
46,jorgemi01,1985,1,NL,112,22,31,1,0,Mike,Jorgensen,Michael,9/10/1968,10/6/1985,200000
47,mcraeha01,1985,1,AL,320,83,44,1,2,Hal,McRae,Harold Abraham,7/11/1968,7/17/1987,800000
48,mcraeha01,1986,1,AL,278,70,18,1,2,Hal,McRae,Harold Abraham,7/11/1968,7/17/1987,650000
49,oliveal01,1985,1,NL,79,20,5,0,1,Al,Oliver,Albert,9/23/1968,10/5/1985,750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23735,ruppca01,2014,1,NL,60,11,4,0,0,Cameron,Rupp,Cameron Arthur,9/10/2013,9/16/2014,500000
23736,ryuhy01,2013,1,NL,58,12,2,0,0,Hyun-jin,Ryu,Hyun-jin,4/2/2013,9/12/2014,3333333
23737,ryuhy01,2014,1,NL,47,7,1,0,0,Hyun-jin,Ryu,Hyun-jin,4/2/2013,9/12/2014,4333000
23738,salazda01,2014,1,AL,3,0,0,0,0,Danny,Salazar,Daniel Dariel,7/11/2013,9/23/2014,501500
23739,sanchto01,2014,1,NL,75,20,3,1,1,Tony,Sanchez,Jorge Anthony,6/23/2013,9/28/2014,507000
23740,schoojo01,2014,1,AL,455,95,13,8,0,Jonathan,Schoop,Jonathan Rufino Jezus,9/25/2013,9/28/2014,500500
23741,semiema01,2013,1,AL,69,18,1,0,1,Marcus,Semien,Marcus Andrew,9/4/2013,9/28/2014,493000
23742,semiema01,2014,1,AL,231,54,21,1,0,Marcus,Semien,Marcus Andrew,9/4/2013,9/28/2014,500000
23743,shoemma01,2014,1,AL,1,0,0,0,0,Matt,Shoemaker,Matthew David,9/20/2013,9/15/2014,500500
23744,siegrke01,2014,1,NL,0,0,0,0,0,Kevin,Siegrist,Kevin Ryan,6/6/2013,9/28/2014,505000
23745,skipwky01,2013,1,NL,3,0,1,0,0,Kyle,Skipworth,Kyle Trent,4/10/2013,5/11/2013,490000
23746,sotone01,2014,1,NL,30,3,0,0,1,Neftali,Soto,Neftali O.,5/18/2013,7/19/2014,500000
23747,thielca01,2014,1,AL,0,0,0,0,0,Caleb,Thielbar,Caleb John,5/20/2013,9/20/2014,510000
23748,ventuyo01,2014,1,AL,4,1,0,0,0,Yordano,Ventura,Yordano,9/17/2013,9/28/2014,500500
23749,villajo01,2014,1,AL,263,55,19,2,1,Jonathan,Villar,Jonathan Rafael,7/22/2013,9/28/2014,503800
23750,wachami01,2014,1,NL,29,1,0,0,0,Michael,Wacha,Michael Joseph,5/30/2013,9/26/2014,510000
23751,webbda01,2014,1,AL,0,0,0,0,0,Daniel,Webb,Robert McDaniel,9/4/2013,9/28/2014,500000
23752,withrch01,2014,1,NL,0,0,0,0,0,Chris,Withrow,Christopher Michael,6/12/2013,5/20/2014,506600
23753,wongko01,2014,1,NL,402,100,21,4,1,Kolten,Wong,Kolten Kaha,8/16/2013,9/28/2014,500000
23754,woodal02,2014,1,NL,41,3,2,0,0,Alex,Wood,Robert Alexander,5/30/2013,9/23/2014,506250
23755,wootero01,2014,1,NL,0,0,0,0,0,Rob,Wooten,Robert Davis,7/26/2013,9/14/2014,501000
23756,workmbr01,2014,1,AL,3,0,0,0,0,Brandon,Workman,Brandon Carlin,7/10/2013,9/18/2014,518000
23757,wrighst01,2014,1,AL,0,0,0,0,0,Steven,Wright,Steven Richard,4/23/2013,9/26/2014,502000
23758,yelicch01,2014,1,NL,582,165,70,3,2,Christian,Yelich,Christian Stephen,7/23/2013,9/28/2014,505000
23759,zuninmi01,2014,1,AL,438,87,17,17,4,Mike,Zunino,Michael Accorsi,6/12/2013,9/28/2014,504100
23760,abreujo02,2014,1,AL,556,176,51,11,4,Jose,Abreu,Jose Dariel,3/31/2014,9/27/2014,7000000
23761,gonzami05,2014,1,NL,0,0,0,0,0,Miguel,Gonzalez,Miguel Alfredo,9/3/2014,9/27/2014,3666667
23762,guerral01,2014,1,NL,13,1,0,0,0,Alex,Guerrero,Alexander,3/22/2014,9/28/2014,4000000
23763,singljo02,2014,1,AL,310,52,50,1,1,Jon,Singleton,Jonathan Lee,6/3/2014,9/28/2014,1500000
23764,tanakma01,2014,1,AL,9,1,0,0,0,Masahiro,Tanaka,Masahiro,4/4/2014,9/27/2014,22000000