In [160]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import re

%matplotlib inline

In [161]:
!head data/Master.csv

In [162]:
master_players = pd.read_csv('data/Master.csv')
master_players.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981,12,27,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,205,75,R,R,4/6/2004,9/28/2013,aardd001,aardsda01
1,aaronha01,1934,2,5,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180,72,R,R,4/13/1954,10/3/1976,aaroh101,aaronha01
2,aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,...,Aaron,Tommie Lee,190,75,R,R,4/10/1962,9/26/1971,aarot101,aaronto01
3,aasedo01,1954,9,8,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190,75,R,R,7/26/1977,10/3/1990,aased001,aasedo01
4,abadan01,1972,8,25,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184,73,L,L,9/10/2001,4/13/2006,abada001,abadan01

In [163]:
fielding_data = pd.read_csv('data/Fielding.csv')
fielding_data.head()

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,TRO,NaN,SS,1,NaN,NaN,1,3,2,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,2B,22,NaN,NaN,67,72,42,5,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NaN,SS,3,NaN,NaN,8,14,7,0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NaN,2B,2,NaN,NaN,1,4,0,0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NaN,OF,29,NaN,NaN,51,3,7,1,NaN,NaN,NaN,NaN,NaN

In [164]:
batting_data = pd.read_csv('data/Batting.csv')
batting_data.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13,8,1,4,0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19,3,1,2,5,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27,1,1,0,2,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16,6,2,2,1,NaN,NaN,NaN,NaN,NaN

In [165]:
salary_data = pd.read_csv('data/Salaries.csv')
salary_data.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [166]:
new_data = pd.merge(batting_data, master_players)
all_data = pd.merge(new_data, salary_data)
all_data

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,salary
0,johnto01,1985,2,OAK,AL,11,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,600000
1,johnto01,1986,1,NYA,AL,13,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,60000
2,johnto01,1987,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,350000
3,johnto01,1988,1,NYA,AL,35,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,375000
4,rosepe01,1985,1,CIN,NL,119,405,60,107,12,...,Peter Edward,192,71,B,R,4/8/1963,8/17/1986,rosep001,rosepe01,358858
5,rosepe01,1986,1,CIN,NL,72,237,15,52,8,...,Peter Edward,192,71,B,R,4/8/1963,8/17/1986,rosep001,rosepe01,1000000
6,staubru01,1985,1,NYN,NL,54,45,2,12,3,...,Daniel Joseph,190,74,L,R,4/9/1963,10/6/1985,staur001,staubru01,300000
7,niekrph01,1985,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,Philip Henry,180,73,R,R,4/15/1964,9/27/1987,niekp001,niekrph01,600000
8,niekrph01,1986,1,CLE,AL,34,NaN,NaN,NaN,NaN,...,Philip Henry,180,73,R,R,4/15/1964,9/27/1987,niekp001,niekrph01,300000
9,perezto01,1985,1,CIN,NL,72,183,25,60,8,...,Atanasio,175,74,R,R,7/26/1964,10/5/1986,peret001,perezto01,225000
10,perezto01,1986,1,CIN,NL,77,200,14,51,12,...,Atanasio,175,74,R,R,7/26/1964,10/5/1986,peret001,perezto01,275000
11,carltst01,1985,1,PHI,NL,16,28,2,5,1,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,1075000
12,carltst01,1986,1,PHI,NL,16,34,3,7,1,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,1000000
13,carltst01,1986,3,CHA,AL,10,NaN,NaN,NaN,NaN,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,60000
14,carltst01,1988,1,MIN,AL,4,NaN,NaN,NaN,NaN,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,115000
15,johnsja01,1985,1,LAN,NL,17,15,0,2,1,...,John William,175,73,L,R,7/30/1966,10/6/1985,johnj002,johnsja01,150000
16,ryanno01,1985,1,HOU,NL,35,63,2,7,2,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1350000
17,ryanno01,1986,1,HOU,NL,30,59,1,6,0,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1125000
18,ryanno01,1987,1,HOU,NL,34,65,2,4,0,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1225000
19,ryanno01,1988,1,HOU,NL,33,70,1,4,0,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1000000
20,ryanno01,1989,1,TEX,AL,32,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1800000
21,ryanno01,1990,1,TEX,AL,30,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1400000
22,ryanno01,1991,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,3300000
23,ryanno01,1992,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,4200000
24,ryanno01,1993,1,TEX,AL,13,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,3757000
25,suttodo01,1985,2,CAL,AL,5,NaN,NaN,NaN,NaN,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,750000
26,suttodo01,1986,1,CAL,AL,34,NaN,NaN,NaN,NaN,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,890000
27,suttodo01,1987,1,CAL,AL,35,NaN,NaN,NaN,NaN,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,890000
28,suttodo01,1988,1,LAN,NL,16,23,1,2,0,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,350000
29,carewro01,1985,1,CAL,AL,127,443,69,124,17,...,Rodney Cline,170,72,L,R,4/11/1967,10/5/1985,carer001,carewro01,875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23735,ruppca01,2014,1,PHI,NL,18,60,4,11,4,...,Cameron Arthur,250,74,R,R,9/10/2013,9/16/2014,ruppc001,ruppca01,500000
23736,ryuhy01,2013,1,LAN,NL,30,58,5,12,3,...,Hyun-jin,255,74,R,L,4/2/2013,9/12/2014,ryu-h001,ryuhy01,3333333
23737,ryuhy01,2014,1,LAN,NL,26,47,4,7,2,...,Hyun-jin,255,74,R,L,4/2/2013,9/12/2014,ryu-h001,ryuhy01,4333000
23738,salazda01,2014,1,CLE,AL,20,3,0,0,0,...,Daniel Dariel,190,72,L,R,7/11/2013,9/23/2014,salad001,salazda01,501500
23739,sanchto01,2014,1,PIT,NL,26,75,3,20,1,...,Jorge Anthony,225,71,R,R,6/23/2013,9/28/2014,sanct001,sanchto01,507000
23740,schoojo01,2014,1,BAL,AL,137,455,48,95,18,...,Jonathan Rufino Jezus,210,74,R,R,9/25/2013,9/28/2014,schoj001,schoojo01,500500
23741,semiema01,2013,1,CHA,AL,21,69,7,18,4,...,Marcus Andrew,195,73,R,R,9/4/2013,9/28/2014,semim001,semiema01,493000
23742,semiema01,2014,1,CHA,AL,64,231,30,54,10,...,Marcus Andrew,195,73,R,R,9/4/2013,9/28/2014,semim001,semiema01,500000
23743,shoemma01,2014,1,LAA,AL,27,1,0,0,0,...,Matthew David,225,74,R,R,9/20/2013,9/15/2014,shoem001,shoemma01,500500
23744,siegrke01,2014,1,SLN,NL,37,0,0,0,0,...,Kevin Ryan,215,77,L,L,6/6/2013,9/28/2014,siegk001,siegrke01,505000
23745,skipwky01,2013,1,MIA,NL,4,3,0,0,0,...,Kyle Trent,230,76,L,R,4/10/2013,5/11/2013,skipk001,skipwky01,490000
23746,sotone01,2014,1,CIN,NL,21,30,1,3,1,...,Neftali O.,215,73,R,R,5/18/2013,7/19/2014,soton001,sotone01,500000
23747,thielca01,2014,1,MIN,AL,54,0,0,0,0,...,Caleb John,195,72,R,L,5/20/2013,9/20/2014,thiec001,thielca01,510000
23748,ventuyo01,2014,1,KCA,AL,31,4,1,1,0,...,Yordano,180,72,R,R,9/17/2013,9/28/2014,venty001,ventuyo01,500500
23749,villajo01,2014,1,HOU,AL,87,263,31,55,13,...,Jonathan Rafael,205,73,B,R,7/22/2013,9/28/2014,villj001,villajo01,503800
23750,wachami01,2014,1,SLN,NL,19,29,1,1,0,...,Michael Joseph,210,78,R,R,5/30/2013,9/26/2014,wachm001,wachami01,510000
23751,webbda01,2014,1,CHA,AL,57,0,0,0,0,...,Robert McDaniel,215,75,R,R,9/4/2013,9/28/2014,webbd001,webbda01,500000
23752,withrch01,2014,1,LAN,NL,20,0,0,0,0,...,Christopher Michael,215,76,R,R,6/12/2013,5/20/2014,withc001,withrch01,506600
23753,wongko01,2014,1,SLN,NL,113,402,52,100,14,...,Kolten Kaha,185,69,L,R,8/16/2013,9/28/2014,wongk001,wongko01,500000
23754,woodal02,2014,1,ATL,NL,35,41,1,3,0,...,Robert Alexander,215,76,R,L,5/30/2013,9/23/2014,wooda002,woodal02,506250
23755,wootero01,2014,1,MIL,NL,40,0,0,0,0,...,Robert Davis,195,73,R,R,7/26/2013,9/14/2014,wootr001,wootero01,501000
23756,workmbr01,2014,1,BOS,AL,19,3,0,0,0,...,Brandon Carlin,225,77,R,R,7/10/2013,9/18/2014,workb001,workmbr01,518000
23757,wrighst01,2014,1,BOS,AL,6,0,0,0,0,...,Steven Richard,220,73,R,R,4/23/2013,9/26/2014,wrigs001,wrighst01,502000
23758,yelicch01,2014,1,MIA,NL,144,582,94,165,30,...,Christian Stephen,200,75,L,R,7/23/2013,9/28/2014,yelic001,yelicch01,505000
23759,zuninmi01,2014,1,SEA,AL,131,438,51,87,20,...,Michael Accorsi,220,74,R,R,6/12/2013,9/28/2014,zunim001,zuninmi01,504100
23760,abreujo02,2014,1,CHA,AL,145,556,80,176,35,...,Jose Dariel,255,75,R,R,3/31/2014,9/27/2014,abrej003,abreujo02,7000000
23761,gonzami05,2014,1,PHI,NL,6,0,0,0,0,...,Miguel Alfredo,200,75,R,R,9/3/2014,9/27/2014,gonzm006,gonzami05,3666667
23762,guerral01,2014,1,LAN,NL,11,13,0,1,0,...,Alexander,205,70,R,R,3/22/2014,9/28/2014,guera001,guerral01,4000000
23763,singljo02,2014,1,HOU,AL,95,310,42,52,13,...,Jonathan Lee,255,74,L,L,6/3/2014,9/28/2014,singj001,singljo02,1500000
23764,tanakma01,2014,1,NYA,AL,20,9,0,1,0,...,Masahiro,205,74,R,R,4/4/2014,9/27/2014,tanam001,tanakma01,22000000

In [167]:
del all_data['weight']
del all_data['height']
del all_data['bats']
del all_data['throws']

In [168]:
all_data = pd.merge(all_data, fielding_data)

In [169]:
del all_data['G']
del all_data['GS']
del all_data['E']
del all_data['DP']
del all_data['PB']

In [170]:
all_data.head()
del all_data['ZR']
del all_data['WP']
del all_data['A']
del all_data['PO']
del all_data['InnOuts']

In [171]:
all_data.head()
del all_data['deathCity']
del all_data['3B']
del all_data['R']

In [172]:
all_data.head()
del all_data['RBI']
del all_data['deathState']
del all_data['HR']

In [173]:
all_data.head()
del all_data['deathCountry']
del all_data['CS']
del all_data['SB']

In [174]:
all_data.head()
del all_data['deathDay']
del all_data['SO']
del all_data['2B']

In [175]:
all_data.head()
del all_data['deathYear']
del all_data['IBB']

In [176]:
all_data.head()
del all_data['birthCity']
del all_data['SH']
del all_data['birthState']

In [177]:
all_data.head()
del all_data['deathMonth']
del all_data['teamID']

In [178]:
all_data.head()
del all_data['GIDP']
del all_data['birthCountry']

In [179]:
all_data.head()
del all_data['birthYear']
del all_data['birthDay']

In [180]:
all_data.head()
del all_data['birthMonth']
del all_data['retroID']
del all_data['bbrefID']

In [182]:
all_data

,playerID,yearID,stint,lgID,AB,H,BB,HBP,SF,nameFirst,nameLast,nameGiven,debut,finalGame,salary,POS
0,johnto01,1985,2,AL,NaN,NaN,NaN,NaN,NaN,Tommy,John,Thomas Edward,9/6/1963,5/25/1989,600000,P
1,johnto01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Tommy,John,Thomas Edward,9/6/1963,5/25/1989,60000,P
2,johnto01,1987,1,AL,NaN,NaN,NaN,NaN,NaN,Tommy,John,Thomas Edward,9/6/1963,5/25/1989,350000,P
3,johnto01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Tommy,John,Thomas Edward,9/6/1963,5/25/1989,375000,P
4,niekrph01,1985,1,AL,NaN,NaN,NaN,NaN,NaN,Phil,Niekro,Philip Henry,4/15/1964,9/27/1987,600000,P
5,niekrph01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Phil,Niekro,Philip Henry,4/15/1964,9/27/1987,300000,P
6,carltst01,1986,3,AL,NaN,NaN,NaN,NaN,NaN,Steve,Carlton,Steven Norman,4/12/1965,4/23/1988,60000,P
7,carltst01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Steve,Carlton,Steven Norman,4/12/1965,4/23/1988,115000,P
8,ryanno01,1989,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,1800000,P
9,ryanno01,1990,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,1400000,P
10,ryanno01,1991,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,3300000,P
11,ryanno01,1992,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,4200000,P
12,ryanno01,1993,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,3757000,P
13,suttodo01,1985,2,AL,NaN,NaN,NaN,NaN,NaN,Don,Sutton,Donald Howard,4/14/1966,8/9/1988,750000,P
14,suttodo01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Don,Sutton,Donald Howard,4/14/1966,8/9/1988,890000,P
15,suttodo01,1987,1,AL,NaN,NaN,NaN,NaN,NaN,Don,Sutton,Donald Howard,4/14/1966,8/9/1988,890000,P
16,niekrjo01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Joe,Niekro,Joseph Franklin,4/16/1967,4/29/1988,750000,P
17,niekrjo01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Joe,Niekro,Joseph Franklin,4/16/1967,4/29/1988,800000,P
18,seaveto01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Tom,Seaver,George Thomas,4/13/1967,9/19/1986,1132652,P
19,fingero01,1985,1,AL,NaN,NaN,NaN,NaN,NaN,Rollie,Fingers,Roland Glen,9/15/1968,9/17/1985,1065000,P
20,garbege01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Gene,Garber,Henry Eugene,6/17/1969,7/1/1988,500000,P
21,reussje01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Jerry,Reuss,Jerry,9/27/1969,10/3/1990,200000,P
22,reussje01,1989,1,AL,NaN,NaN,NaN,NaN,NaN,Jerry,Reuss,Jerry,9/27/1969,10/3/1990,590000,P
23,blylebe01,1985,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,650000,P
24,blylebe01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1450000,P
25,blylebe01,1987,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1150000,P
26,blylebe01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1000000,P
27,blylebe01,1989,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1225000,P
28,blylebe01,1990,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1175000,P
29,blylebe01,1992,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,900000,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1862,rizzoto01,1998,1,AL,NaN,NaN,NaN,NaN,NaN,Todd,Rizzo,Todd Michael,4/2/1998,7/18/1999,170000,P
1863,runyase01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Sean,Runyan,Sean David,3/31/1998,9/9/2000,280000,P
1864,sinclst01,1998,1,AL,NaN,NaN,NaN,NaN,NaN,Steve,Sinclair,Steven Scott,4/25/1998,10/3/1999,170000,P
1865,snydejo02,1999,1,AL,NaN,NaN,NaN,NaN,NaN,John,Snyder,John Michael,6/30/1998,9/23/2000,230000,P
1866,steinbl01,1999,2,AL,NaN,NaN,NaN,NaN,NaN,Blake,Stein,William Blake,5/10/1998,9/8/2002,207500,P
1867,tessmja01,1998,1,AL,NaN,NaN,NaN,NaN,NaN,Jay,Tessmer,Jay Weldon,8/27/1998,4/4/2002,170000,P
1868,wardbr01,1998,1,AL,NaN,NaN,NaN,NaN,NaN,Bryan,Ward,Bryan Matthew,7/3/1998,9/30/2000,170000,P
1869,weaveer01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Eric,Weaver,James Eric,5/30/1998,8/17/2000,200000,P
1870,cordefr01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Francisco,Cordero,Francisco Javier,8/2/1999,8/1/2012,200000,P
1871,daveyto01,1999,2,AL,NaN,NaN,NaN,NaN,NaN,Tom,Davey,Thomas Joseph,4/6/1999,8/24/2002,200000,P
1872,depause01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Sean,DePaula,Sean Michael,8/31/1999,8/1/2002,200000,P
1873,hinchbr01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Brett,Hinchliffe,Brett,4/5/1999,4/26/2001,200000,P
1874,lundqda01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,David,Lundquist,David Bruce,4/6/1999,6/28/2002,200000,P
1875,morenor01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Orber,Moreno,Orber,5/25/1999,7/22/2004,200000,P
1876,munrope01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Peter,Munro,Peter Daniel,4/6/1999,10/1/2004,200000,P
1877,newmaal02,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Alan,Newman,Alan Spencer,5/14/1999,6/26/2000,200000,P
1878,ortizra01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Ramon,Ortiz,Ramon Diogenes,8/19/1999,6/2/2013,200000,P
1879,penaje01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Jesus,Pena,Jesus,8/7/1999,10/1/2000,200000,P
1880,potelo01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Lou,Pote,Louis William,8/11/1999,6/9/2004,200000,P
1881,ramsaro01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Robert,Ramsay,Robert Arthur,8/27/1999,9/30/2000,200000,P
1882,riskeda01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,David,Riske,David Richard,8/14/1999,8/15/2010,200000,P
1883,ryanbj01,1999,2,AL,NaN,NaN,NaN,NaN,NaN,B. J.,Ryan,Robert Victor,7/28/1999,7/5/2009,200000,P
1884,ryanja04,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Jason,Ryan,Jason Paul,8/24/1999,10/1/2000,200000,P
1885,wilsova01,1999,1,NL,0,0,0,0,0,Vance,Wilson,Vance Allen,4/24/1999,9/28/2006,200000,C
1886,lunarfe01,2002,1,AL,0,0,0,0,0,Fernando,Lunar,Fernando Jose,5/8/2000,4/11/2002,225000,C
1887,quirogu01,2006,1,AL,2,0,0,0,0,Guillermo,Quiroz,Guillermo Antonio,9/4/2004,9/13/2014,327500,C
1888,tupmama01,2008,1,AL,1,1,0,0,0,Matt,Tupman,Matthew David,5/18/2008,5/18/2008,390000,C
1889,hestejo01,2013,1,AL,0,0,1,0,0,John,Hester,John Graves,8/28/2009,9/16/2013,495000,C
1890,buterdr01,2013,1,AL,3,0,0,0,0,Drew,Butera,Andrew Edward,4/9/2010,9/28/2014,700000,C
1891,pinama01,2012,1,AL,2,0,0,0,0,Manny,Pina,Manuel Elias,8/3/2011,9/30/2012,480425,C

In [186]:
all_data.replace({'NaN': 0}, regex = True)

,playerID,yearID,stint,lgID,AB,H,BB,HBP,SF,nameFirst,nameLast,nameGiven,debut,finalGame,salary,POS
0,johnto01,1985,2,AL,NaN,NaN,NaN,NaN,NaN,Tommy,John,Thomas Edward,9/6/1963,5/25/1989,600000,P
1,johnto01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Tommy,John,Thomas Edward,9/6/1963,5/25/1989,60000,P
2,johnto01,1987,1,AL,NaN,NaN,NaN,NaN,NaN,Tommy,John,Thomas Edward,9/6/1963,5/25/1989,350000,P
3,johnto01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Tommy,John,Thomas Edward,9/6/1963,5/25/1989,375000,P
4,niekrph01,1985,1,AL,NaN,NaN,NaN,NaN,NaN,Phil,Niekro,Philip Henry,4/15/1964,9/27/1987,600000,P
5,niekrph01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Phil,Niekro,Philip Henry,4/15/1964,9/27/1987,300000,P
6,carltst01,1986,3,AL,NaN,NaN,NaN,NaN,NaN,Steve,Carlton,Steven Norman,4/12/1965,4/23/1988,60000,P
7,carltst01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Steve,Carlton,Steven Norman,4/12/1965,4/23/1988,115000,P
8,ryanno01,1989,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,1800000,P
9,ryanno01,1990,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,1400000,P
10,ryanno01,1991,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,3300000,P
11,ryanno01,1992,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,4200000,P
12,ryanno01,1993,1,AL,NaN,NaN,NaN,NaN,NaN,Nolan,Ryan,Lynn Nolan,9/11/1966,9/22/1993,3757000,P
13,suttodo01,1985,2,AL,NaN,NaN,NaN,NaN,NaN,Don,Sutton,Donald Howard,4/14/1966,8/9/1988,750000,P
14,suttodo01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Don,Sutton,Donald Howard,4/14/1966,8/9/1988,890000,P
15,suttodo01,1987,1,AL,NaN,NaN,NaN,NaN,NaN,Don,Sutton,Donald Howard,4/14/1966,8/9/1988,890000,P
16,niekrjo01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Joe,Niekro,Joseph Franklin,4/16/1967,4/29/1988,750000,P
17,niekrjo01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Joe,Niekro,Joseph Franklin,4/16/1967,4/29/1988,800000,P
18,seaveto01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Tom,Seaver,George Thomas,4/13/1967,9/19/1986,1132652,P
19,fingero01,1985,1,AL,NaN,NaN,NaN,NaN,NaN,Rollie,Fingers,Roland Glen,9/15/1968,9/17/1985,1065000,P
20,garbege01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Gene,Garber,Henry Eugene,6/17/1969,7/1/1988,500000,P
21,reussje01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Jerry,Reuss,Jerry,9/27/1969,10/3/1990,200000,P
22,reussje01,1989,1,AL,NaN,NaN,NaN,NaN,NaN,Jerry,Reuss,Jerry,9/27/1969,10/3/1990,590000,P
23,blylebe01,1985,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,650000,P
24,blylebe01,1986,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1450000,P
25,blylebe01,1987,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1150000,P
26,blylebe01,1988,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1000000,P
27,blylebe01,1989,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1225000,P
28,blylebe01,1990,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,1175000,P
29,blylebe01,1992,1,AL,NaN,NaN,NaN,NaN,NaN,Bert,Blyleven,Rik Aalbert,6/5/1970,10/4/1992,900000,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1862,rizzoto01,1998,1,AL,NaN,NaN,NaN,NaN,NaN,Todd,Rizzo,Todd Michael,4/2/1998,7/18/1999,170000,P
1863,runyase01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Sean,Runyan,Sean David,3/31/1998,9/9/2000,280000,P
1864,sinclst01,1998,1,AL,NaN,NaN,NaN,NaN,NaN,Steve,Sinclair,Steven Scott,4/25/1998,10/3/1999,170000,P
1865,snydejo02,1999,1,AL,NaN,NaN,NaN,NaN,NaN,John,Snyder,John Michael,6/30/1998,9/23/2000,230000,P
1866,steinbl01,1999,2,AL,NaN,NaN,NaN,NaN,NaN,Blake,Stein,William Blake,5/10/1998,9/8/2002,207500,P
1867,tessmja01,1998,1,AL,NaN,NaN,NaN,NaN,NaN,Jay,Tessmer,Jay Weldon,8/27/1998,4/4/2002,170000,P
1868,wardbr01,1998,1,AL,NaN,NaN,NaN,NaN,NaN,Bryan,Ward,Bryan Matthew,7/3/1998,9/30/2000,170000,P
1869,weaveer01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Eric,Weaver,James Eric,5/30/1998,8/17/2000,200000,P
1870,cordefr01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Francisco,Cordero,Francisco Javier,8/2/1999,8/1/2012,200000,P
1871,daveyto01,1999,2,AL,NaN,NaN,NaN,NaN,NaN,Tom,Davey,Thomas Joseph,4/6/1999,8/24/2002,200000,P
1872,depause01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Sean,DePaula,Sean Michael,8/31/1999,8/1/2002,200000,P
1873,hinchbr01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Brett,Hinchliffe,Brett,4/5/1999,4/26/2001,200000,P
1874,lundqda01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,David,Lundquist,David Bruce,4/6/1999,6/28/2002,200000,P
1875,morenor01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Orber,Moreno,Orber,5/25/1999,7/22/2004,200000,P
1876,munrope01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Peter,Munro,Peter Daniel,4/6/1999,10/1/2004,200000,P
1877,newmaal02,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Alan,Newman,Alan Spencer,5/14/1999,6/26/2000,200000,P
1878,ortizra01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Ramon,Ortiz,Ramon Diogenes,8/19/1999,6/2/2013,200000,P
1879,penaje01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Jesus,Pena,Jesus,8/7/1999,10/1/2000,200000,P
1880,potelo01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Lou,Pote,Louis William,8/11/1999,6/9/2004,200000,P
1881,ramsaro01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Robert,Ramsay,Robert Arthur,8/27/1999,9/30/2000,200000,P
1882,riskeda01,1999,1,AL,NaN,NaN,NaN,NaN,NaN,David,Riske,David Richard,8/14/1999,8/15/2010,200000,P
1883,ryanbj01,1999,2,AL,NaN,NaN,NaN,NaN,NaN,B. J.,Ryan,Robert Victor,7/28/1999,7/5/2009,200000,P
1884,ryanja04,1999,1,AL,NaN,NaN,NaN,NaN,NaN,Jason,Ryan,Jason Paul,8/24/1999,10/1/2000,200000,P
1885,wilsova01,1999,1,NL,0,0,0,0,0,Vance,Wilson,Vance Allen,4/24/1999,9/28/2006,200000,C
1886,lunarfe01,2002,1,AL,0,0,0,0,0,Fernando,Lunar,Fernando Jose,5/8/2000,4/11/2002,225000,C
1887,quirogu01,2006,1,AL,2,0,0,0,0,Guillermo,Quiroz,Guillermo Antonio,9/4/2004,9/13/2014,327500,C
1888,tupmama01,2008,1,AL,1,1,0,0,0,Matt,Tupman,Matthew David,5/18/2008,5/18/2008,390000,C
1889,hestejo01,2013,1,AL,0,0,1,0,0,John,Hester,John Graves,8/28/2009,9/16/2013,495000,C
1890,buterdr01,2013,1,AL,3,0,0,0,0,Drew,Butera,Andrew Edward,4/9/2010,9/28/2014,700000,C
1891,pinama01,2012,1,AL,2,0,0,0,0,Manny,Pina,Manuel Elias,8/3/2011,9/30/2012,480425,C